
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}
.App{
    text-align: center;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

header .nav a{
    font-size: x-large;
    color: white;
    display: block;
    margin: 0 5px;
    padding: 30px;
}


header{

    background-color: rgb(223, 223, 223);
}

header.logo{

    font-size: 40px;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;

}

.Hero{
    background-color: white;
    padding: 25px;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 35px;
}

footer{
    background-color: black;
    color: white;
    padding: 4em;
    text-align: center;
}

header.dayMode{
    background-color: rgb(245, 24, 24);
    color: white;
}

header.nightMode{
    background-color: rgb(68, 68, 68);
    color: white;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    background-color: whitesmoke;
}

.card{
    margin: 20px;
    margin-bottom: 12px;
    width: 200px;
    height: 330px;
    position: relative;
    overflow: hidden;
    padding: 4px;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 12px;
}

.card.active button{
    background-color: #e02ca1d4;
}

.button{
    color: rgb(246, 246, 246);
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    font-size: 10px;
    font-weight: bold;
    
}

.card .icon{
    width: 20px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 10px;
    transform: translateY(-100%);
    opacity: 0;
    transition: all ease 0.5s;
}

.card.active .icon{
    display: block;
    opacity: 1;
    transform: translateY(0%);
}

.Img{
    width: 5em;
    height: 5em;
    object-fit: cover;
    padding: 5px;
    border-radius: 20px;
}

aside h2{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}